/* styles.css */
body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(155, 44, 44);
    font-family: 'Press Start 2P', Courier, monospace;
}

.matrix-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.matrix-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Adjust opacity as needed */
    pointer-events: none;
    z-index: 1; /* Ensure it sits above the canvas */
}

#matrix-canvas {
    display: block;
    width: 100%;
    height: 100vh;
    border: 2px solid #0F0; /* Add a glowing border to emphasize the canvas */
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Optional glow effect around the canvas */
}

.matrix-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lime;
    font-size: 3em;
    text-align: center;
    opacity: 0;
    animation: fadeIn 5s forwards 8s;
}

/* Keyframe for fade-in effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Keyframe for gradient shadow effect */
@keyframes gradientShadow {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 0, 0.5),
                     0 0 20px rgba(255, 0, 0, 0.5),
                     0 0 30px rgba(255, 255, 0, 0.7);
    }
    100% {
        text-shadow: 0 0 10px rgba(0, 255, 0, 0.5),
                     0 0 20px rgba(0, 255, 0, 0.5),
                     0 0 30px rgba(0, 0, 255, 0.7);
    }
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
}

input[type="text"], input[type="color"] {
    font-size: 1.2em;
    margin: 0 10px;
    padding: 5px;
    background: #333;
    color: #0F0; /* Match the Matrix theme */
    border: 1px solid #0F0;
    border-radius: 5px;
}

input[type="text"]::placeholder {
    color: #666;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Glow Effect */
.glow {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.7), 0 0 15px rgba(255, 255, 255, 0.7);
}

